:root {
  --gradient: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: #e3e3e3;
}

/* utilities */
.nav--bg,
.btn--bg {
  background: var(--gradient);
}

/* content */
.nav--logo {
  width: 50px;
}

.btn--hover-bg:hover {
  background: linear-gradient(90deg, #3F2B96 20%, #A8C0FF 100%);
}

/* Meme */
.meme--container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;

}

.meme--text {
  text-shadow: 0 0 2px #000;

  transform: translate(-50%, 50%);
}

.meme--text-top {
  top: -20px;
  left: 50%;
}

.meme--text-bottom {
  bottom: 10px;
  left: 50%;
}

.meme--image {
  height: 70vh;
}